/* Reset de estilos para o corpo da página */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

/* Estilo para o cabeçalho */
h1 {
  text-align: center;
  padding: 20px;
  background-color: #ffcc00;
}
/* Estilos para o contêiner que envolve a galeria e o carrinho */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Estilos para a galeria de Pokémon */
#pokemonList {
  /* Estilos da galeria de Pokémon */
  width: 70%; /* Largura da galeria */
}

/* Estilos para o carrinho de compras */
#cart {
  /* Estilos do carrinho de compras */
  width: 28%; /* Largura do carrinho */
}
/* Estilo para a lista de Pokémon */
ul#pokemonList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

/* Estilo para cada Pokémon na galeria */
ul#pokemonList li {
  width: 200px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo para a imagem do Pokémon */
ul#pokemonList li img {
  max-width: 100px;
  max-height: 100px;
  margin: 10px auto;
  display: block;
}

/* Estilo para o nome do Pokémon */
ul#pokemonList li h2 {
  font-size: 1.2em;
  color: #333;
}

/* Estilo para o ID do Pokémon */
ul#pokemonList li p {
  font-size: 0.8em;
  color: #666;
}

/* Estilo para os tipos do Pokémon */
ul#pokemonList li p:last-child {
  font-size: 0.8em;
  color: #666;
}
/* Estilos para o carrinho de compras */
#cart {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 20px auto;
  max-width: 300px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#cart h2 {
  font-size: 1.2em;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

/* Estilos para os itens no carrinho */
#cart ul {
  list-style: none;
  padding: 0;
}

#cart li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

#cart li span {
  flex-grow: 1;
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#cart button {
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  padding: 5px 10px;
}

#cart button:hover {
  background-color: #ff9900;
}
#cart ul li button.remove-button {
  background-color: #ff0000; /* Cor do botão de remoção (use a cor desejada) */
  color: #fff; /* Cor do texto no botão */
}